In [125]:
import pandas as pd
from pytz import timezone

# load csv file
df = pd.read_csv('/Users/angelogentileiii/code/point-focal/russell/PointFocalFile-04_24.csv')
print(df.head())

  Trade Date Program Code  Shares    Price Ticker Alternate Symbol Side  \
0  4/24/2024        A4056     153  164.260     BA          2108601    B
1  4/24/2024        A4056      50  164.255     BA          2108601    B
2  4/24/2024        A4056     167  164.255     BA          2108601    B
3  4/24/2024        A4056      33  164.250     BA          2108601    B
4  4/24/2024        A4056      77  164.250     BA          2108601    B

  Base Currency  Rate Transaction Time (GMT)  Send Time (GMT)  Order Id  \
0           USD   1.0      4/24/2024 6:36 PM              NaN   3287969
1           USD   1.0      4/24/2024 6:36 PM              NaN   3287969
2           USD   1.0      4/24/2024 6:36 PM              NaN   3287969
3           USD   1.0      4/24/2024 6:36 PM              NaN   3287969
4           USD   1.0      4/24/2024 6:36 PM              NaN   3287969

   Sequence
0         1
1         1
2         1
3         1
4         1

In [126]:
# Convert the 'Time' column from GMT to EST
df['Transaction Time (EST)'] = pd.to_datetime(df['Transaction Time (GMT)']).dt.tz_localize('GMT').dt.tz_convert('US/Eastern').dt.tz_localize(None)

# Sort the DataFrame by 'Transaction Time (EST)' in descending order
df = df.sort_values('Transaction Time (EST)', ascending=True)

# Define a function to categorize each trade into one of the three intervals
def get_interval(time):
    if time.hour < 9 or time.hour >= 16:
        return 'non-us-transaction'
    elif time.hour == 9 and time.minute < 30:
        return 'non-us-transaction'
    elif (time.hour == 9 and time.minute >= 30) or (time.hour == 10 and time.minute <= 30):
        return '9:30 - 10:30'
    elif time.hour >= 10 and time.hour < 15:
        return '10:31 - 14:59'
    else:
        return '15:00 - 16:00'

# Apply the function to the 'Transaction Time (GMT)' column to create a new 'Transection Interval' column
df['Transaction Time (EST)'] = pd.to_datetime(df['Transaction Time (EST)'])
df['Transaction Interval'] = df['Transaction Time (EST)'].apply(get_interval)
df  = df[df['Base Currency'] == 'USD']
df

/var/folders/l3/m168cy3j65xgd0_9_3c_nbsh0000gn/T/ipykernel_61574/4283827158.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Transaction Time (EST)'] = pd.to_datetime(df['Transaction Time (GMT)']).dt.tz_localize('GMT').dt.tz_convert('US/Eastern').dt.tz_localize(None)

,Trade Date,Program Code,Shares,Price,Ticker,Alternate Symbol,Side,Base Currency,Rate,Transaction Time (GMT),Send Time (GMT),Order Id,Sequence,Transaction Time (EST),Transaction Interval
34032,4/24/2024,A4056,21,70.260,GIS,2367026,S,USD,1.0,4/24/2024 1:38 PM,NaN,3287995,1,2024-04-24 09:38:00,9:30 - 10:30
54434,4/24/2024,A4056,790,48.195,CSCO,2198163,S,USD,1.0,4/24/2024 1:38 PM,NaN,3288141,1,2024-04-24 09:38:00,9:30 - 10:30
54433,4/24/2024,A4056,210,48.195,CSCO,2198163,S,USD,1.0,4/24/2024 1:38 PM,NaN,3288141,1,2024-04-24 09:38:00,9:30 - 10:30
54432,4/24/2024,A4056,200,48.195,CSCO,2198163,S,USD,1.0,4/24/2024 1:38 PM,NaN,3288141,1,2024-04-24 09:38:00,9:30 - 10:30
54431,4/24/2024,A4056,100,48.195,CSCO,2198163,S,USD,1.0,4/24/2024 1:38 PM,NaN,3288141,1,2024-04-24 09:38:00,9:30 - 10:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,4/24/2024,A4056,200,24.630,NWSA,BBGVT40,B,USD,1.0,4/24/2024 7:00 PM,NaN,3288125,1,2024-04-24 15:00:00,15:00 - 16:00
20630,4/24/2024,A4056,1,24.630,NWSA,BBGVT40,B,USD,1.0,4/24/2024 7:00 PM,NaN,3288125,1,2024-04-24 15:00:00,15:00 - 16:00
20631,4/24/2024,A4056,9,24.630,NWSA,BBGVT40,B,USD,1.0,4/24/2024 7:00 PM,NaN,3288125,1,2024-04-24 15:00:00,15:00 - 16:00
20633,4/24/2024,A4056,20,24.630,NWSA,BBGVT40,B,USD,1.0,4/24/2024 7:00 PM,NaN,3288125,1,2024-04-24 15:00:00,15:00 - 16:00
64629,4/24/2024,A4056,1,72.765,TTE,2898032,B,USD,1.0,4/24/2024 7:00 PM,NaN,3288148,1,2024-04-24 15:00:00,15:00 - 16:00

In [127]:
# Define the intervals
interval1 = '9:30 - 10:30'
interval2 = '10:31 - 14:59'
interval3 = '15:00 - 16:00'

# Filter the DataFrame for each interval
df_interval1 = df[df['Transaction Interval'] == interval1]
df_interval2 = df[df['Transaction Interval'] == interval2]
df_interval3 = df[df['Transaction Interval'] == interval3]

# Get the number of rows for each interval
num_rows_interval1 = df_interval1.shape[0]
num_rows_interval2 = df_interval2.shape[0]
num_rows_interval3 = df_interval3.shape[0]

print(num_rows_interval1+num_rows_interval2+num_rows_interval3)
print(f"Number of rows in interval 1: {num_rows_interval1}")
print(f"Number of rows in interval 2: {num_rows_interval2}")
print(f"Number of rows in interval 3: {num_rows_interval3}")

69674
Number of rows in interval 1: 12765
Number of rows in interval 2: 56855
Number of rows in interval 3: 54

In [128]:
# Calculate the percentage of trades in each transaction interval for entire basket

# Group the data by 'Order Id' and 'Transaction Interval', and calculate the total number of trades in each group
grouped_by_interval = df.groupby(['Transaction Interval']).size()

# Calculate the total number of trades for each Order Id' and for the entire basket
total_basket_trades = df.shape[0]

# Calculate the percentage of trades in each transection interval for each 'Order Id' and for the entire basket
percentage_by_interval = grouped_by_interval / total_basket_trades

percentage_by_interval_df = percentage_by_interval.to_frame()
percentage_by_interval_df.columns = ['Activity Percentage']
percentage_by_interval_df

                      Activity Percentage
Transaction Interval
10:31 - 14:59                    0.816015
15:00 - 16:00                    0.000775
9:30 - 10:30                     0.183210

In [129]:
# Calculate the percentage of trades in each transaction interval for each 'Ticker'
grouped_by_ticker_interval = df.groupby(['Ticker', 'Transaction Interval']).size()
total_trades_by_ticker_interval = df.groupby('Ticker').size()
grouped_percentage_by_ticker= grouped_by_ticker_interval / total_trades_by_ticker_interval

grouped_percentage_by_ticker_interval_df = grouped_percentage_by_ticker.to_frame()
grouped_percentage_by_ticker_interval_df.columns = ['Activity Percentage']

grouped_percentage_by_ticker_interval_df

                             Activity Percentage
Ticker Transaction Interval
ABBV   10:31 - 14:59                    0.816733
       9:30 - 10:30                     0.183267
ABT    10:31 - 14:59                    0.898204
       9:30 - 10:30                     0.101796
ACN    10:31 - 14:59                    0.877551
...                                          ...
XEL    9:30 - 10:30                     0.103245
XOM    10:31 - 14:59                    0.783784
       9:30 - 10:30                     0.216216
ZBH    10:31 - 14:59                    0.857664
       9:30 - 10:30                     0.142336

[408 rows x 1 columns]

In [130]:
# Calculate the percentage of trades in each transaction interval for each 'Ticker'
grouped_by_orderId = df.groupby(['Order Id', 'Transaction Interval']).size()
total_trades_by_orderId = df.groupby('Order Id').size()
grouped_percentage_by_orderId= grouped_by_orderId / total_trades_by_orderId

grouped_percentage_by_orderId_df = grouped_percentage_by_orderId.to_frame()
grouped_percentage_by_orderId_df.columns = ['Activity Percentage']

grouped_percentage_by_orderId_df

                               Activity Percentage
Order Id Transaction Interval
3287955  10:31 - 14:59                    0.898204
         9:30 - 10:30                     0.101796
3287956  10:31 - 14:59                    0.857143
         9:30 - 10:30                     0.142857
3287957  10:31 - 14:59                    0.763110
...                                            ...
3288164  9:30 - 10:30                     0.177072
3288165  10:31 - 14:59                    0.852814
         9:30 - 10:30                     0.147186
3288166  10:31 - 14:59                    0.840000
         9:30 - 10:30                     0.160000

[408 rows x 1 columns]

In [131]:
# Calculate the percentage of trades by Ticker in each transaction interval for entire basket

percentage_by_ticker_interval_basket = grouped_by_ticker_interval / total_basket_trades

percentage_by_ticker_interval_basket_df = percentage_by_ticker_interval_basket.to_frame()
percentage_by_ticker_interval_basket_df.columns = ['Activity Percentage']
percentage_by_ticker_interval_basket_df

                             Activity Percentage
Ticker Transaction Interval
ABBV   10:31 - 14:59                    0.002942
       9:30 - 10:30                     0.000660
ABT    10:31 - 14:59                    0.002153
       9:30 - 10:30                     0.000244
ACN    10:31 - 14:59                    0.002469
...                                          ...
XEL    9:30 - 10:30                     0.000502
XOM    10:31 - 14:59                    0.004578
       9:30 - 10:30                     0.001263
ZBH    10:31 - 14:59                    0.003373
       9:30 - 10:30                     0.000560

[408 rows x 1 columns]

In [132]:
# Calculate the percentage of trades by Order Id in each transaction interval for entire basket

percentage_by_orderId_interval_basket = grouped_by_orderId / total_basket_trades

percentage_by_orderId_interval_basket_df = percentage_by_orderId_interval_basket.to_frame()
percentage_by_orderId_interval_basket_df.columns = ['Activity Percentage']
percentage_by_orderId_interval_basket_df

                               Activity Percentage
Order Id Transaction Interval
3287955  10:31 - 14:59                    0.002153
         9:30 - 10:30                     0.000244
3287956  10:31 - 14:59                    0.001981
         9:30 - 10:30                     0.000330
3287957  10:31 - 14:59                    0.006057
...                                            ...
3288164  9:30 - 10:30                     0.004478
3288165  10:31 - 14:59                    0.002827
         9:30 - 10:30                     0.000488
3288166  10:31 - 14:59                    0.000603
         9:30 - 10:30                     0.000115

[408 rows x 1 columns]

In [133]:
# Add the IEX OHLC close data from day prior
iex_close = pd.read_csv('/Users/angelogentileiii/code/point-focal/russell/IEX_OHLC_CLOSE.csv')
iex_close.rename(columns={'close': 'Close', 'symbol': 'Ticker'}, inplace=True)

# Aggregate unique tickers
unique_tickers = df.groupby('Ticker').agg({'Shares': 'sum', 'Side': 'first'}).reset_index()
unique_tickers.rename(columns={'Shares': 'Shares Total'}, inplace=True)

# Calculate total value and total shares per day
daily_total_val = df.groupby('Ticker').apply(lambda group: (group['Price'] * group['Shares']).sum()).reset_index(name='Total Value')

# Calculate total value and total shares (Interval)
interval_agg = df.groupby(['Ticker', 'Transaction Interval']).agg({'Shares': 'sum', 'Price': lambda x: (x * df.loc[x.index, 'Shares']).sum()}).reset_index()
interval_agg.rename(columns={'Shares': 'Shares Interval', 'Price': 'Interval Value'}, inplace=True)

# Merge unique_tickers with daily_total_val
calc_impshortfall_df = pd.merge(unique_tickers, daily_total_val, how='left', on='Ticker')

# Merge interval aggregates
calc_impshortfall_df = pd.merge(calc_impshortfall_df, interval_agg, how='left', on='Ticker')

# Merge with iex_close to get closing prices
calc_impshortfall_df = pd.merge(calc_impshortfall_df, iex_close[['Ticker', 'Close']], how='left', on='Ticker')

# Calculate VWAP per Day and VWAP per Interval
calc_impshortfall_df['VWAP Day'] = calc_impshortfall_df['Total Value'] / calc_impshortfall_df['Shares Total']  # Shares_x is total shares for the day
calc_impshortfall_df['VWAP Interval'] = calc_impshortfall_df['Interval Value'] / calc_impshortfall_df['Shares Interval']  # Shares_y is total shares for the interval

# Calculate Implementation Shortfall Day
calc_impshortfall_df['Implementation Shortfall Day'] = 0.0
calc_impshortfall_df.loc[calc_impshortfall_df['Side'] == 'B', 'Implementation Shortfall Day'] = calc_impshortfall_df['Close'] - calc_impshortfall_df['VWAP Day']
calc_impshortfall_df.loc[calc_impshortfall_df['Side'] == 'S', 'Implementation Shortfall Day'] = calc_impshortfall_df['VWAP Day'] - calc_impshortfall_df['Close']

# Calculate Implementation Shortfall Interval
calc_impshortfall_df['Implementation Shortfall Interval'] = 0.0
calc_impshortfall_df.loc[calc_impshortfall_df['Side'] == 'B', 'Implementation Shortfall Interval'] = calc_impshortfall_df['Close'] - calc_impshortfall_df['VWAP Interval']
calc_impshortfall_df.loc[calc_impshortfall_df['Side'] == 'S', 'Implementation Shortfall Interval'] = calc_impshortfall_df['VWAP Interval'] - calc_impshortfall_df['Close']

# Rank Implementation Shortfall
calc_impshortfall_df['IS Rank Day (All)'] = calc_impshortfall_df['Implementation Shortfall Day'].rank(method='dense', ascending=False).fillna(-1).astype(int)
calc_impshortfall_df['IS Rank Day (Side)'] = calc_impshortfall_df.groupby('Side')['Implementation Shortfall Day'].rank(method='dense', ascending=False).fillna(-1).astype(int)

# Reorder columns
desired_order = [
    'Ticker', 'Close', 'Side',  'Shares Interval', 'Interval Value', 'Shares Total', 'Total Value',  
    'VWAP Interval', 'VWAP Day', 'Implementation Shortfall Interval', 'Implementation Shortfall Day', 'IS Rank Day (All)', 'IS Rank Day (Side)'
]

calc_impshortfall_df = calc_impshortfall_df[desired_order]
calc_impshortfall_df

/var/folders/l3/m168cy3j65xgd0_9_3c_nbsh0000gn/T/ipykernel_61574/3447067664.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  daily_total_val = df.groupby('Ticker').apply(lambda group: (group['Price'] * group['Shares']).sum()).reset_index(name='Total Value')

,Ticker,Close,Side,Shares Interval,Interval Value,Shares Total,Total Value,VWAP Interval,VWAP Day,Implementation Shortfall Interval,Implementation Shortfall Day,IS Rank Day (All),IS Rank Day (Side)
0,ABBV,169.54,B,10181,1712562.495,12265,2063596.355,168.211619,168.250824,1.328381,1.289176,20,18
1,ABBV,169.54,B,2084,351033.860,12265,2063596.355,168.442351,168.250824,1.097649,1.289176,20,18
2,ABT,107.59,B,12548,1336335.440,15117,1607900.710,106.497883,106.363743,1.092117,1.226257,23,20
3,ABT,107.59,B,2569,271565.270,15117,1607900.710,105.708552,106.363743,1.881448,1.226257,23,20
4,ACN,316.83,B,10783,3366750.180,12991,4061034.555,312.227597,312.603691,4.602403,4.226309,9,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,XEL,55.27,B,2652,145880.400,19653,1088027.985,55.007692,55.361929,0.262308,-0.091929,113,73
404,XOM,121.03,B,26621,3212019.615,32073,3868599.205,120.657361,120.618564,0.372639,0.411436,54,43
405,XOM,121.03,B,5452,656579.590,32073,3868599.205,120.429125,120.618564,0.600875,0.411436,54,43
406,ZBH,121.52,B,14991,1825981.015,18061,2201000.855,121.805151,121.864839,-0.285151,-0.344839,153,85
407,ZBH,121.52,B,3070,375019.840,18061,2201000.855,122.156300,121.864839,-0.636300,-0.344839,153,85

In [134]:
df.to_csv('pf-transitionAnalysis-russell-processedData.csv')

grouped_percentage_by_ticker_interval_df.to_csv('pf-transitionAnalysis-russell-byTicker.csv')
grouped_percentage_by_orderId_df.to_csv('pf-transitionAnalysis-russell-byOrderId.csv')
percentage_by_interval_df.to_csv('pf-transitionAnalysis-russell-Bucket.csv')
percentage_by_orderId_interval_basket_df.to_csv('pf-transitionAnalysis-russell-byOrderIdBucket.csv')
percentage_by_ticker_interval_basket_df.to_csv('pf-transitionAnalysis-russell-byTickerBucket.csv')
calc_impshortfall_df.to_csv('pf-transitionAnalysis-russell-is-rankings-USonly.csv')